.success-toast,
.info-toast,
.error-toast {
  border-radius: 10px;
  padding: 5px;
  transition: all 0.2s, color 0.2s;
  outline: none;
}

.success-toast {
  background: rgb(17, 139, 44);
  box-shadow: 0 0 7px #fff;
  border: 1px solid #fff;
}

.info-toast {
  background: rgb(12, 121, 184);
}

.error-toast {
  background: rgb(146, 36, 43);
  box-shadow: 0 0 7px #fff;
  border: 1px solid #fff;
}
