.custom-tooltip {
  max-width: 350px;
  font-size: 14px !important;
  pointer-events: auto !important;
  background-color: rgba(16, 32, 97, 0.9) !important;
  cursor: pointer;
}

.custom-tooltip:hover {
  visibility: visible !important;
  opacity: 1 !important;
}
